<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.salesforce"
        version="4.2.0">

  <name>SalesforceMobileSDK Plugins</name>
  <description>SalesforceMobileSDK Plugins</description>
  <license>Apache 2.0</license>
  <keywords>salesforce,oauth,smartstore</keywords>
  <repo>https://github.com/forcedotcom/SalesforceMobileSDK-CordovaPlugin</repo>

  <js-module src="www/com.salesforce.plugin.oauth.js" name="plugin.oauth"></js-module>
  <js-module src="www/com.salesforce.plugin.sdkinfo.js" name="plugin.sdkinfo"></js-module>
  <js-module src="www/com.salesforce.plugin.smartstore.js" name="plugin.smartstore">
    <clobbers target="navigator.smartstore" />
  </js-module>
  <js-module src="www/com.salesforce.plugin.sfaccountmanager.js" name="plugin.sfaccountmanager"></js-module>
  <js-module src="www/com.salesforce.plugin.smartsync.js" name="plugin.smartsync"></js-module>
  <js-module src="www/com.salesforce.util.bootstrap.js" name="util.bootstrap"></js-module>
  <js-module src="www/com.salesforce.util.event.js" name="util.event"></js-module>
  <js-module src="www/com.salesforce.util.exec.js" name="util.exec"></js-module>
  <js-module src="www/com.salesforce.util.logger.js" name="util.logger"></js-module>
  <js-module src="www/com.salesforce.util.push.js" name="util.push"></js-module>

  <engines>
    <engine name="cordova-android" version="5.0.0" />
    <engine name="cordova-ios" version="3.9.2" />
  </engines>

  <!-- Specific versions of dependencies required by the Mobile SDK plugin -->
  <dependency id="cordova-plugin-whitelist" url="https://github.com/apache/cordova-plugin-whitelist" commit="1.2.0" />
  <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device" commit="r1.0.1" />
  <dependency id="phonegap-plugin-push" url="https://github.com/phonegap/phonegap-plugin-push" commit="1.5.0" />

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <preference name="BackupWebStorage" value="local" />

      <!-- To allow XHR requests with the new Whitelist plugin -->
      <!--
      FIXME:
      Commenting whitelist entries until Mobile SDK plugin supports a version of Cordova with a functioning whitelist plugin.

      <allow-navigation href="https://localhost" />
      <allow-navigation href="https://*.force.com" />
      <allow-navigation href="https://*.salesforce.com" />

      FIXME:
      -->

      <!-- For legacy apps that don't use CSP -->
      <!--
      FIXME:
      Commenting whitelist entries until Mobile SDK plugin supports a version of Cordova with a functioning whitelist plugin.

      <access origin="https://localhost" />
      <access origin="https://*.force.com" />
      <access origin="https://*.salesforce.com" />

      FIXME:
      -->
      <feature name="com.salesforce.oauth"><param name="ios-package" value="SalesforceOAuthPlugin"/></feature>
      <feature name="com.salesforce.sdkinfo"><param name="ios-package" value="SFSDKInfoPlugin"/></feature>
      <feature name="com.salesforce.sfaccountmanager"><param name="ios-package" value="SFAccountManagerPlugin"/></feature>
      <feature name="com.salesforce.smartstore"><param name="ios-package" value="SFSmartStorePlugin"/></feature>
      <feature name="com.salesforce.smartsync"><param name="ios-package" value="SFSmartSyncPlugin"/></feature>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSExceptionDomains</key>
        <dict>
          <key>salesforce.com</key>
          <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSExceptionRequiresForwardSecrecy</key>
            <false/>
          </dict>
          <key>force.com</key>
          <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSExceptionRequiresForwardSecrecy</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </config-file>

    <!-- Header files -->
    <header-file src="src/ios/headers/SFAuthenticationManager.h" target-dir="salesforce"/>
    <header-file src="src/ios/headers/SFCommunityData.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFSDKAppConfig.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/InitialViewController.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFDefaultUserManagementViewController.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFHybridViewConfig.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFHybridViewController.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFIdentityCoordinator.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFIdentityData.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFLocalhostSubstitutionCache.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFLogger.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFLoggerMacros.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/NSNotificationCenter+SFAdditions.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFOAuthCoordinator.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFOAuthCredentials.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFOAuthInfo.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFPushNotificationManager.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFUserAccount.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFUserAccountConstants.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFUserAccountManager.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFUserAccountIdentity.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SalesforceSDKManager.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SalesforceSDKManagerWithSmartStore.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFAuthErrorHandler.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SFAuthErrorHandlerList.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/SalesforceSDKCoreDefines.h" target-dir="salesforce" />
    <header-file src="src/ios/headers/AppDelegate+SalesforceHybridSDK.h"  />
    <header-file src="src/ios/headers/UIApplication+SalesforceHybridSDK.h"  />

    <!-- Source files -->
    <source-file src="src/ios/classes/AppDelegate+SalesforceHybridSDK.m" />
    <source-file src="src/ios/classes/UIApplication+SalesforceHybridSDK.m" />
    <source-file src="src/ios/classes/InitialViewController.m" />

    <!-- Resource bundles -->
    <resource-file src="src/ios/resources/SalesforceSDKResources.bundle" />
    <resource-file src="src/ios/resources/Images.xcassets" />
    <resource-file src="src/ios/resources/SalesforceSDKAssets.xcassets" />

    <!-- Libraries -->
    <source-file src="src/ios/frameworks/libSalesforceSDKCore.a" framework="true" />
    <source-file src="src/ios/frameworks/libSalesforceNetwork.a" framework="true" />
    <source-file src="src/ios/frameworks/libSalesforceRestAPI.a" framework="true" />
    <source-file src="src/ios/frameworks/libSmartStore.a" framework="true" />
    <source-file src="src/ios/frameworks/libSmartSync.a" framework="true" />
    <source-file src="src/ios/frameworks/libSalesforceHybridSDK.a" framework="true" />
    <source-file src="src/ios/frameworks/libsqlcipher.a" framework="true" />
    <source-file src="src/ios/frameworks/libCocoaLumberjack.a" framework="true" />

    <!-- System frameworks -->
    <framework src="libxml2.tbd" />
    <framework src="libz.tbd" />
    <framework src="AddressBook.framework" weak="true" />
    <framework src="AddressBookUI.framework" weak="true" />
    <framework src="CoreGraphics.framework" weak="true" />
    <framework src="CoreLocation.framework" weak="true" />
    <framework src="Foundation.framework" weak="true" />
    <framework src="MessageUI.framework" weak="true" />
    <framework src="MobileCoreServices.framework" weak="true" />
    <framework src="QuartzCore.framework" weak="true" />
    <framework src="Security.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />
    <framework src="UIKit.framework" weak="true" />
    <framework src="AssetsLibrary.framework" weak="true" />
    <framework src="ImageIO.framework" weak="true" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
          android:label="@string/app_name"
          android:name="com.salesforce.androidsdk.phonegap.ui.SalesforceDroidGapActivity"
          android:theme="@android:style/Theme.Black.NoTitleBar">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">

      <!-- To allow XHR requests with the new Whitelist plugin -->
      <allow-navigation href="https://localhost" />
      <allow-navigation href="https://*.force.com" />
      <allow-navigation href="https://*.salesforce.com" />

      <!-- For legacy apps that don't use CSP -->
      <access origin="https://localhost" />
      <access origin="https://*.force.com" />
      <access origin="https://*.salesforce.com" />
      <feature name="com.salesforce.oauth"><param name="android-package" value="com.salesforce.androidsdk.phonegap.plugin.SalesforceOAuthPlugin"/></feature>
      <feature name="com.salesforce.sfaccountmanager"><param name="android-package" value="com.salesforce.androidsdk.phonegap.plugin.SFAccountManagerPlugin"/></feature>
      <feature name="com.salesforce.sdkinfo"><param name="android-package" value="com.salesforce.androidsdk.phonegap.plugin.SDKInfoPlugin"/></feature>
      <feature name="com.salesforce.smartstore"><param name="android-package" value="com.salesforce.androidsdk.phonegap.plugin.SmartStorePlugin"/></feature>
      <feature name="com.salesforce.smartsync"><param name="android-package" value="com.salesforce.androidsdk.phonegap.plugin.SmartSyncPlugin"/></feature>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/resources">
      <string name="account_type">$PACKAGE_NAME.login</string>
      <string name="app_package">$PACKAGE_NAME</string>
    </config-file>

    <hook type="after_plugin_install" src="tools/postinstall-android.js" />
    <hook type="after_platform_add" src="tools/after-platform-add-android.js" />
    <hook type="after_plugin_add" src="tools/after-platform-add-android.js" />
  </platform>

  <!-- windows -->
  <platform name="windows">
	<js-module src="src/windows/com.salesforce.plugin.oauthProxy.js" name="SalesforceOAuthProxy">
    <runs/>
  </js-module>
	<js-module src="src/windows/com.salesforce.plugin.accountmanagerProxy.js" name="SalesforceAccountManagerProxy">
    <runs/>
  </js-module>
	<js-module src="src/windows/com.salesforce.plugin.smartstoreProxy.js" name="SalesforceSmartStoreProxy">
    <runs/>
  </js-module>
	<js-module src="src/windows/com.salesforce.plugin.smartsyncProxy.js" name="SalesforceSmartSyncProxy">
    <runs/>
  </js-module>
  <js-module name="SalesforceCore" src="src/windows/salesforce.windows.core.js">
	<runs/>
  </js-module>
	<framework src="src/windows/src/Core/Core.csproj"  custom="true" type="projectReference"/>
    <framework src="src/windows/src/Universal/Universal.csproj"  custom="true" type="projectReference"/>
  <framework src="src/windows/src/Hybrid/Hybrid.csproj"  custom="true" type="projectReference"/>
  <framework src="src/windows/src/packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll" custom="true"/>
  <framework src="src/windows/src/packages/MvvmLightLibs.5.1.1.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/Galasoft.MvvmLight.dll" custom="true"/>
  <framework src="src/windows/src/packages/MvvmLightLibs.5.1.1.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/Galasoft.MvvmLight.Extras.dll" custom="true"/>
</platform>

</plugin>
